body{
  background-color:#cccccc;
}
div.contenedor{
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: rgb(253, 243, 243);
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
  background-color: aquamarine;
    float: left;
    padding: 1em;
}

nav ul {
    list-style-type: none; /* elimina viñeta*/
    padding: 2rem;
}

nav ul a {
    text-decoration: none;

}

a.active {
    color: red;
}

article {
    margin-left: 145px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    background-color: #cccccc;
    background-repeat:repeat-y; /*no-repeat;*/
    /*background-size:300px 180px;*/
}

p{
  margin-left: 300px;
}

h1{
  text-align:center;
  font-size: 150%;
}



#mexico{
  color:green;
}

#londres{
  color:red;
}

#paris{
  color:blue;
}

#tokyo{
  color:FireBrick;
}

.banderaMex{
  background-image: url("../img/mexico.jpg");
  background-repeat: no-repeat;
  }
.banderaLon{
  background-image: url("../img/londres.jpg");
  background-repeat: no-repeat;
}
.banderaPar{
  background-image: url("../img/paris.jpg");
  background-repeat: no-repeat;
}
.banderaTok{
  background-image: url("../img/tokyo.jpg");
  background-repeat: no-repeat;
}
.himno{
  text-align: center;
  background-color: #cccccc;
  padding: 10px;
  color: #141018;
}